<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-toggle"></span>
            </button>
            <a class="navbar-brand" href="#">Lidi</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Dashboard</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cadastros
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Cliente</a></li>
                        <li><a href="#">Fornecedor</a></li>
                        <li><a href="#">Vendedor</a></li> 
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Produtos
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Produtos</a></li>
                        <li><a href="#">Estoque</a></li> 
                    </ul>
                </li> 
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Vendas
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Pedidos</a></li>
                        <li><a href="#">Contas a Pagar</a></li>
                        <li><a href="#">Contas a Receber</a></li>
                        <li><a href="#">Lançamentos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Configurações
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Usuários</a></li>
                        <li><a href="#">Categorias</a></li> 
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                        <i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span></a>
                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="{{ path('logout') }}"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /container -->
</div>
<!-- /Header -->